@import "styles/mixin";
@import "styles/variables";
.root {
  width: 100%;
  @include flex();
  flex-direction: column;
  align-items: flex-start;
  .product {
    padding: 2% 5%;
    @include flex();
    justify-content: space-between;
    width: 100%;
    height: 120rem;
    border-bottom: 1px solid $black-divider;
    flex-direction: column;
    @include tablet {
      padding: 0 5%;
      height: 50rem;
      flex-direction: unset;
    }
    .col {
      @include flex();
      justify-content: space-between;
      position: relative;

      &:first-of-type {
        width: 100%;
        height: 70%;
        flex-direction: column-reverse;
        @include tablet {
          flex-direction: unset;
          height: 100%;
          width: 65%;
        }
        @include desktop {
          width: 65%;
        }
        .back {
          position: absolute;
          top: 2%;
          left: 0%;
          cursor: pointer;
          transition: all 0.1s ease-in;
          &:hover {
            transform: scale(1.2);
          }
        }
        .box {
          padding: 2% 0;

          &:first-of-type {
            width: 100%;
            height: 50%;
            @include tablet {
              width: 40%;
              height: 100%;
              @include flex();
              flex-direction: column;
              align-items: flex-start;
            }

            h1 {
              padding: 0;
              line-height: 3.8rem;
            }
            span {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3; /* number of lines to show */
              line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            .price {
              font-weight: 800;
              font-size: 1rem;
              font-family: $font-p;
              margin-bottom: 1.5rem;
            }

            .size {
              font-weight: 700;
              font-family: $font-p;
            }
            .row {
              @include flex();
              justify-content: flex-start;
              margin-bottom: 1.5rem;
              padding: 0 6px;
            }

            .cta {
              width: 100%;
              height: 44px;
              @include flex();
              justify-content: space-between;

              @include desktop {
                width: 100%;
              }
              @include desktop-l {
                width: 85%;
              }

              .qty {
                height: 100%;

                @include flex();
                width: 45%;
              }
            }
          }
          &:last-of-type {
            width: 75%;
            height: 50%;
            @include flex();
            @include tablet {
              width: 50%;
              height: 230px;
            }
            @include desktop {
              height: 550px;
              width: 50%;
            }
            @include desktop-l {
              width: 40%;
            }
            @include desktop-lg {
              width: 30%;
            }
            .img {
              width: 100%;
              height: 100%;
              position: relative;
            }
          }
        }
      }
      &:last-of-type {
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 40%;
        @include tablet {
          width: 30%;
          height: 100%;
          padding: 0 0 0 4%;

          border-left: 1px solid $black-divider;
        }
        h2 {
          font-weight: 800;
          text-transform: uppercase;
          font-family: $font-p;
          margin-bottom: 10px;
          font-size: 1rem;
          letter-spacing: 0.1rem;
        }
        .box {
          @include flex();
          p {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .row {
    @include padding-2-5();
    width: 100%;
    h2 {
      margin-bottom: 20px;
    }
    .container {
      width: 100%;
    }
    .pagination {
      display: none;
    }
  }
}
