@import "styles/mixin";
@import "styles/variables";
.title {
  padding: 5% 0 2% 0;
}
.subtitle {
  width: 80%;
  margin-bottom: 50px;
  p {
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
  }
}
