@import "styles/variables";
@import "styles/mixin";

.header {
  width: 100%;
  @include flex();
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  .menu {
    padding: 3% 5%;
    a {
      color: $white;
      margin-right: 2rem;
      font-family: $font-head;
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      letter-spacing: 1px;
      font-weight: 700;

      &:hover {
        transform: scale(1.2);
      }
    }
    &.store,
    &.default {
      a {
        color: $black-head;
      }
    }
  }
  .icon {
    padding: 2% 5%;

    span {
      margin-left: 2rem !important;
    }
    svg {
      cursor: pointer;
      margin-left: 30px;
      width: 20px;
      color: $white;
      transition: all 0.2s ease-in;
      &:hover {
        transform: scale(1.2);
      }
    }
    &.store {
      svg {
        color: $black-head;
      }
    }
  }

  .logo {
    width: 5rem;
    @include desktop {
      width: 7rem;
    }
  }
  .navigation {
    @include padding-2-5();
    a {
      font-family: $font-head;
      text-transform: uppercase;
      color: $black;
      margin-left: 2rem;
      letter-spacing: 1px;
      font-weight: 700;
    }
  }

  &-store {
    width: 100%;
    height: 90px;
    padding: 2% 0;
    @include flex();
    justify-content: flex-start;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba($white, 0.9);
    border-bottom: 1px solid $black-divider;
    flex-wrap: wrap;
    @include desktop {
      padding: 0;
      flex-wrap: nowrap;
      height: 100px;
    }
    .menu {
      @include flex;
      width: 100%;
      height: 30%;
      justify-content: center;
      column-gap: 1.2rem;
      padding: 0 5%;
      order: 3;
      @include desktop {
        justify-content: flex-start;
        height: auto;
        width: 39%;
        order: unset;
      }

      a {
        color: $black;
        font-family: $font-head;
        text-transform: uppercase;
        transition: all 0.2s ease-in;
        letter-spacing: 1px;
        font-weight: 700;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .logo {
      height: 50%;
      width: 62%;
      @include flex();
      justify-content: flex-end;
      cursor: pointer;
      @include desktop {
        height: 100%;
        justify-content: center;
        width: 20%;
      }
      a {
        position: relative;
        width: 100px;
        height: 20px;
      }
    }
    .icon {
      @include flex;
      justify-content: flex-end;
      width: 38%;
      column-gap: 1.2rem;
      padding: 0 5%;
      order: 2;
      @include desktop {
        order: unset;
        width: 41%;
      }

      span {
        margin-left: 2rem !important;
      }
      svg {
        cursor: pointer;
        width: 15px;
        color: $black;
        transition: all 0.2s ease-in;
        &:hover {
          transform: scale(1.2);
        }
        @include desktop {
          width: 20px;
        }
      }
    }
  }
}
