@import "styles/mixin";
@import "styles/variables";
@import "styles/responsive";
.header {
  border-bottom: 0;
}
.root {
  @include flex();
  flex-direction: column;
  width: 100%;
  .subDecor {
    @include flex();
    width: 100px;
    padding-top: 10px;
    @include desktop {
      padding-top: 30px;
    }
    p {
      color: $black-sub;
      font-family: $font-head;
      font-size: 0.8rem;
      font-weight: 700;
      font-style: italic;
    }
  }
  .author {
    text-transform: capitalize;
    color: $black-sub;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
    font-family: $font-head;
    padding: 18px 0;
  }
  h1 {
    text-align: center;
    width: 70%;
    padding: 3% 0;
    font-size: 3rem;
    text-transform: capitalize;
    @include desktop {
      font-size: 4rem;
    }
  }

  .body {
    width: 90%;
    @include desktop {
      width: 50%;
    }
    span {
      p {
        margin-bottom: 20px;
        font-size: 1.2rem;

        img {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
  .similar {
    width: 100%;
    h2 {
      padding: 5% 5% 0 5%;
    }
    .container {
      width: 100%;
      @include flex();
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
