@import "styles/mixin";
@import "styles/variables";
@import "styles/responsive";

.heading {
  @include Heading();
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.6rem;
  @include desktop {
    font-size: 4rem;
  }
}
.category {
  padding: 3% 0;
  width: 100%;
  @include flex();
  justify-content: space-around;
  button {
    margin-right: 0;
  }
  @include desktop {
    justify-content: space-between;

    width: 40%;
  }
  p {
    padding: 3%;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $gray;
    @include Transition3();
    &:hover {
      color: $white;
      background-color: $black;
    }
  }
}
.container {
  width: 100%;
  @include flex();
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 10px;
  column-gap: 1%;
}
