@import "styles/mixin";
@import "styles/variables";
@import "styles/responsive";

// BLOG
.blog {
  @include nonBreak();

  height: 30rem;
  position: relative;
  z-index: 0;
  @include flex();
  justify-content: space-between;
  @include tablet {
    height: 50rem;
  }
  @include desktop {
    height: 60rem;
  }

  .head {
    width: 100%;
    padding: 0 5%;

    h3 {
      position: relative;
      font-size: 3rem;
      color: $gray-light;
      z-index: 2;
      margin-bottom: 1rem;
      @include tablet {
        font-size: 4rem;
      }
      @include desktop {
        font-size: 5rem;
      }
    }
    a {
      position: relative;
      z-index: 2;
      font-size: 1rem;
      color: $gray-light;
    }
    .right-arrow {
      margin-top: 10px;
      @include rightArrow();
      width: 15rem;
      position: relative;
      z-index: 2;
    }
  }
}
