@import "styles/mixin";
@import "styles/variables";
@import "styles/responsive";
.root {
  @include flex();
  justify-content: space-between;
  cursor: pointer;
  p {
    font-family: $font-p;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }
  svg {
    margin-left: 5px;
    width: 14px;
    height: 14px;
  }
}
