@import "styles/variables";
@import "styles/mixin";
@import "styles/responsive";
.root {
  @include nonBreak();
  @include flex();
  height: 23rem;
  @include desktop {
    height: 45rem;
  }
  li {
    position: relative;
    z-index: 0;
    &:first-of-type {
      width: 12%;
      height: 40%;
      @include desktop {
        width: 12%;
        height: 33%;
      }
    }
    &:nth-of-type(2) {
      width: 16%;
      height: 52%;
      @include desktop {
        width: 22%;
        height: 54%;
      }
      @include desktop-l {
        height: 60%;
      }
    }
    &:nth-of-type(3) {
      width: 24%;
      height: 82%;
      @include desktop {
        width: 28%;
        height: 80%;
      }
      @include desktop-l {
        height: 90%;
      }
    }
    &:nth-of-type(4) {
      width: 16%;
      height: 53%;
      @include desktop {
        width: 19%;
        height: 50%;
      }
    }
    &:nth-of-type(5) {
      width: 12%;
      height: 37%;
      @include desktop {
        width: 14%;
        height: 35%;
      }
      @include desktop-l {
        height: 40%;
      }
    }
    &:last-of-type {
      width: 20%;
      height: 65%;
      @include desktop {
        width: 22%;
        height: 55%;
      }
    }
  }
  &-product {
    @include flex();

    width: 100%;

    .container {
      width: 100%;
      ul {
        li {
          @include flex();
        }
      }
      .carouselCard {
        width: 140px !important;
        height: 260px;
        @include tablet {
          width: 170px !important;
          height: 300px;
        }
        @include desktop {
          width: 250px !important;
          height: 480px;
        }
      }
    }

    .decord-arrow {
      width: 100px;
      @include flex();
      justify-content: space-between;
      position: relative;
      bottom: 50px;
      left: 0px;
      @include desktop {
        width: 190px;
        bottom: 30px;
        left: 68px;
      }
      p {
        font-weight: 400;
      }
      .right-arrow-white {
        display: block;
        @include rightArrow;
        border-top: 2px solid rgba(18, 18, 18, 0.75) !important;
        width: 30% !important;
        bottom: 4px;
        &::before {
          border-right: 2px solid rgba(18, 18, 18, 0.75) !important;
          border-bottom: 2px solid rgba(18, 18, 18, 0.75) !important;
        }
        &::after {
          right: -14px;
          top: -17px;
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50px;
          border: 1px solid rgba(18, 18, 18, 0.75) !important;
          @include desktop {
            right: -18px;
            top: -22px;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
