@import "styles/variables";
@import "styles/mixin";
@import "styles/responsive";
.slick-slider {
  position: relative;
  @include flex();

  height: 40rem;
  @include tablet() {
    height: 37rem;
  }
  @include desktop() {
    height: 43rem;
  }
  // @include desktop() {
  //   height: 40rem;
  // }
}
.slick-list {
  width: 100%;
  overflow: hidden;
  height: 80%;
}
.slick-track {
  @include flex();
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1%;
}

.slick-arrow {
  display: none !important;
}
.slick-slide > div {
  @include flex();
}
