@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

//Fonts
$font-head: "Playfair Display";
$font-p: "Mulish";

//Colors
$black-head: rgba(#121212, 0.75);
$black-p: #444444;
$black-hover: rgba(#444444, 0.5);
$black-gradient: linear-gradient(
  0deg,
  rgba(18, 18, 18, 1) 0%,
  rgba(18, 18, 18, 0.40948879551820727) 65%,
  rgba(18, 18, 18, 0) 100%
);
$black: #121212;
$black-sub: #4d4d4d;
$black-divider: rgba(#4d4d4d, 0.3);

$gray-light: #fbfbfb;
$gray: #d9d9d9;
$gray-hard: #a7a7a7;
$white: #ffffff;
